.navbar {
    display: flex;
    justify-content: space-between;
    margin: 10px 26px;
}

.navbar-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar img {
    max-width: 100%;
    width: 200px;
}

.navbar_signin{
    display: flex;
    text-decoration: none;
    color: #2c3e50;
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
}

.iconSignin {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 7px;

}

.navbar-signin-text:hover {
    text-decoration: underline;
}